{{! My Projects}}
<div class="card Medium hoverable">
    <ul class="collection">
        <li>
            <div class="card-action">
                <a href="/blog" target="_blank" class="{{>shared_db_header_hover}}"><i class="fa fa-desktop" aria-hidden="true"></i> Projects</a>
            </div>
        </li>
        <div class="divider"></div>
        
        {{#get "posts" limit="all" filter="tag:projects"}}
            {{#foreach posts limit="3"}}
                <li class="collection-item avatar">
                    {{#if image}}
                        <a href="{{meta_title}}" target="_blank"><img src="{{image}}" alt="" class="circle hoverable"></a>
                    {{else}}
                        <img src="{{asset "img/SM_Light_small.jpg"}}">
                    {{/if}} 
                    <span class="title"><a href="{{meta_title}}" class="grey-text text-darken-2" target="_blank">{{title}}</a></span>
                    <p><a href="{{meta_title}}" class="grey-text text-lighten-1" target="_blank">{{excerpt characters="55"}}&hellip;</a></p>
                </li>
           {{/foreach}}
        {{/get}}
    </ul>
</div>

            

