{{! GALLERY}}
    <div class="card Medium hoverable"> 
        <div class="card-action">
            <a href="/gallery"><i class="fa fa-cloud" aria-hidden="true"></i> Gallery</a>
        </div>
        <div class="card-image waves-effect waves-block waves-light">
            <a href="/gallery"><img class="activator" src="{{asset "img/SM_Bibycle.jpg"}}"></a>
        </div>
        <div class="card-content">
            <p class="grey-text text-darken-2">Can't live without art and music.</p>
        </div> 
    </div>

{{!--
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="{{asset "img/SM_Bibycle.jpg"}}"></a>
            <a class="carousel-item" href="#two!"><img src="{{asset "img/SM_Bibycle.jpg"}}"></a>
            <a class="carousel-item" href="#three!"><img src="{{asset "img/SM_Bibycle.jpg"}}"></a>
            <a class="carousel-item" href="#four!"><img src="{{asset "img/SM_Bibycle.jpg"}}"></a>
        </div>
        
             
        
        
        
        
   <div class="slider">
    <ul class="slides">
      <li>
        <img src="{{asset "img/SM_Bibycle.jpg"}}">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{asset "img/SM_Noodles.jpg"}}"> 
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{asset "img/SM_Antarctic.jpg"}}"> 
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{{asset "img/SM_Doorbell.jpg"}}">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
              

--}}