{{! About me}}
<div class="card Medium hoverable">
    <div class="card collection">
        
        {{! blog logo}}
        <div class="card-image">
            {{! if you have blog logo, it will show here. Else use default}}
            {{#if @blog.logo}}
                <img src="{{@blog.logo}}">
            {{else}}
                <img src="{{asset "img/SM_Iceland.jpg"}}">
            {{/if}}
        </div>
        
        {{! about me bottom}}
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-2">About me<i class="material-icons right hvr-pulse">more_vert</i></span>
        </div>
        
        {{! intro}}
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-2">About me<i class="material-icons right hvr-shrink">close</i></span>
            
            <div class="row"></div>
            
            <a class="grey-text text-darken-2" href="/about" target="_blank">
                <div class="chip hvr-float-shadow">
                    <img src="{{asset "img/favicon.png"}}" alt="" class="circle">I'm Hao
                </div>
            </a>
            
            <a class="grey-text text-darken-2" href="{{> shared_company}}" target="_blank">
                <div class="chip hvr-float-shadow">
                    <img src="{{asset "img/bio-adc.png"}}" alt="" class="circle">Alarm.com
                </div>
            </a>             
            
            <br><br> 
            <a class="grey-text text-darken-2" href="{{> shared_github}}" target="_blank">
                <div class="chip hvr-float-shadow">
                    <img src="{{asset "img/bio-iOS.png"}}" alt="" class="circle">iOS
                </div>
            </a>
            
            <a class="grey-text text-darken-2" href="https://github.com/BabyShung/HaoCameraDemo" target="_blank">
                <div class="chip hvr-float-shadow">
                    <img src="{{asset "img/bio-bluecheese.png"}}" alt="" class="circle">BlueCheese
                </div>
            </a>
            
            <br><br> 
            <a class="grey-text text-darken-2" href="https://cs.uiowa.edu" target="_blank">
                <div class="chip hvr-float-shadow">
                    <img src="{{asset "img/bio-uiowa.png"}}" alt="" class="circle">UIowa
                </div>
            </a>
            
        </div>
    </div>
</div>

