            
{{#is "post"}}
    <div class="row"> {{! Previous and Next page navigation}}
    <div class="col s12 m8 offset-m2 l10 offset-l1">
        {{#next_post}}
            <a href="{{url}}" class="right amber-text text-darken-2 hvr-icon-forward hvr-grow">
                &nbsp;&nbsp;Newer                    
            </a>
            {{/next_post}}
            {{#prev_post}}
            <a href="{{url}}" class="left amber-text text-darken-2 hvr-icon-back hvr-grow">
                Older&nbsp;&nbsp;
            </a>
            {{/prev_post}}
            <div class="row"></div>
    </div>
</div>
{{/is}}

{{#is "tag"}}
    {{> spacing_oneRow }}
    <div class="row">
                <div class="col s12 m6 offset-m3">
                    {{#if prev}}
                    <a href="{{page_url prev}}" class="right amber-text text-darken-2 hvr-icon-forward hvr-grow">
                        &nbsp;&nbsp;Newer                    
                    </a>
                    {{else}}
                    {{/if}}
                    {{#if next}}
                    <a href="{{page_url next}}" class="left amber-text text-darken-2 hvr-icon-back hvr-grow">
                Older&nbsp;&nbsp;
            </a>
                    {{else}}
                    {{/if}}
                </div>
            </div>
{{/is}}

{{#is "page"}}
asdfasdfasdf
{{/is}}