{{!< default}}
<main class="container">
    
    <div class="row"> </div>
    <div class="row"> </div>
    
    
    <div class="row">
        
            {{! 3}}
        <div class="col s12 m7 l4">
          <div class="card Medium hoverable">
              <div class="card-action">
              <a href="#">This is a link</a>
            </div>
            <div class="card-image">
              <img src={{asset "img/SM_Doorbell.jpg"}}>
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>    
        
                {{! 2}}
        <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
            <div class="card-image">
              <img src={{asset "img/SM_Gate.jpg"}}>
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
        </div>
        
        
        
        

            {{! Blog}}
        <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
            <div class="card-action">
              <a href="#" target="_blank"><i class="fa fa-pencil" aria-hidden="true"></i> Blog</a>
            </div>
       <div class="collection">
           
        <div class="card-content">
              <a href="#"><p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p></a>
            </div>
           
           <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
           
           <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
      </div>
        </div>
        </div>

        {{! Youtube demo}}
        <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
            <div class="card-action">
              <a href="https://www.youtube.com/channel/UClWD1EqK-qYEC-mLPVNzysg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
            </div>
            <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/9BYGYzdonMU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </div>
          
        {{! Vimeo demo}}
        <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
            <div class="card-action">
              <a href="https://vimeo.com/user45600639" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i> Vimeo</a>
            </div>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/163058179?color=ffffff&title=0&byline=0&portrait=0" width="640" height="519" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/163058179">A Letter To The Future - RnBlue</a> from <a href="https://vimeo.com/user45600639">RnBlue</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
        </div>
        
        {{! Spotify playlist}}
    <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
        <div class="card-action">
              <a href="https://play.spotify.com/user/babyshung" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</a>
            </div>
            <div class="video-container">
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ababyshung%3Aplaylist%3A2oJGh9PRq1lT3vQhAvaqIL" width="300" height="280" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
        
        {{! 4}}
            <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{asset "img/SM_Noodles.jpg"}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    </div>
        </div>
        
    {{! 5}}
            <div class="col s12 m7 l4">
        <div class="card Medium hoverable">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{asset "img/SM_Antarctic.jpg"}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    </div>
        </div>
        
        {{! 1}}
        <div class="col s12 m7 l4">
                <div class="card Medium hoverable">
                <div class="card-action">
              <a href="#">This is a link</a>
            </div>
                
            <div class="card-image">
              <img src={{asset "img/SM_GoldenGateBridge.jpg"}}>
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
        </div>
        
    {{! End of Row}} 
    </div>
    

    
    
    
    {{! Floating Bottom Right Button}} 
    <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
</main>

