{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{#post}}
<main class="container">
    
    <div class="row">
        
        {{! First column}}
        <div class="col s12 m7 l4">
        
            {{! 1}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_redgate.jpg"}}">
                </div>
                </div>
            </div>

            {{! 2}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_swan.jpg"}}">
                </div>
                </div>
            </div>
            
            {{! 3}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_snowground_left.jpg"}}">
                </div>
                </div>
            </div>
            
            {{! 4}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_vacationOcean.jpg"}}">
                </div>
                </div>
            </div>

        </div>
        
        {{! Second column}}
        <div class="col s12 m7 l4">
            
            {{! 1}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_rainy.jpg"}}">
                </div>
                </div>
            </div>

            {{! 2}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_planeAbove.jpg"}}">
                </div>
                </div>
            </div>
            
            {{! 3}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_snowground_middle.jpg"}}">
                </div>
                </div>
            </div>
        
            {{! 4}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_lion.jpg"}}">
                </div>
                </div>
            </div>
            
        </div>
        
        {{! Third column}}
        <div class="col s12 m7 l4">
          
            {{! 1}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_milkyWay.jpg"}}">
                </div>
                </div>
            </div>

            {{! 2}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_crashPlane.jpg"}}">
                </div>
                </div>
            </div>
            
            {{! 3}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_snowground_right.jpg"}}">
                </div>
                </div>
            </div> 
            
            {{! 4}}
            <div class="card Medium hoverable">
                <div class="collection">
                <div class="card-image">
                  <img class="materialboxed" src="{{asset "img/origin/SM_snowbridge.jpg"}}">
                </div>
                </div>
            </div>
            
        </div>
        
    {{! End of Row}} 
    </div>
    
    
    {{! Copyright}} 
    <div class="row"></div>
    <div class="row">
        <div class="col s6 offset-s10">
            <span class="card-title grey-text text-darken-1 otherCopyRights">------------------------ Photos From <a href="http://www.smartisan.com/en/#/" class="grey-text text-darken-1" target="_blank">Smartisan</a></span>
        </div>
    </div>
    <div class="divider"></div>
    
</main>

{{/post}}


