{{!< default }}
        {{#post}}
        <main> 
            
            
            <div class="row">
                
                
                
                <div class="post col s12 m12 l8 offset-l2">
                    <article class="card hoverable">

                        <div class="card-content">
                            <div class="card-header">
                                <div class="card-meta blue-grey-text text-lighten-2">
                                   <div class="card-tag"> {{!Tag}}
                                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                                        {{#foreach tags}}
                                            <a href="{{url}}" title="{{name}}" class="blue-grey-text text-lighten-2">{{name}}</a>
                                        {{/foreach}}
                                    </div>
                                    <time class="card-date" datetime="{{date format='YYYY-MM-DD'}}">
                                        <i class="material-icons">&#xE192;</i> 
                                        {{date format='YYYY-MM-DD'}}
                                    </time>
                                </div>
                            </div>
                            <div class="post-p"> {{!Content here}}
                               {{content}}
                            </div>
                        </div>
                        <div class="card-action">

                        </div>
                    </article>
                </div>
            </div>
            
            
            
            <div class="row"> {{! Previous and Next page navigation}}
                <div class="col s12 m8 offset-m2">
                    {{#next_post}}
                    <a href="{{url}}" class="left">
                        <button class="btn-floating">
                            <i class="material-icons">&#xE5C4;</i>
                        <div class="ripple-container"></div></button>
                        Newer                    
                    </a>
                    {{/next_post}}
                    {{#prev_post}}
                    <a href="{{url}}" class="right">
                        Older
                        <button class="btn-floating">
                            <i class="material-icons">&#xE5C8;</i>
                        </button>
                    </a>
                    {{/prev_post}}
                </div>
                
                
                
            </div>
        </main>
        {{/post}}