{{!< default }}
{{#post}}
    <main>
        <div class="row">
            <div class="post col s12 m12 l8 offset-l2">
                    <article class="animated fadeIn card hoverable">
                        
                        <div class="card-action">
                            <h3 class="hvr-forward grey-text text-darken-3">{{title}}</h3>
                            {{> shared_dateControl}}
                        </div>
                        
                        <div class="card-content  blue-grey-text text-lighten-2">
                                   <div class="right-align"> {{!Tag}}
                                        {{#foreach tags}}
                                       <div class="chip hvr-float-shadow"><a href="{{url}}" title="{{name}}" class="blue-grey-text text-lighten-2">{{name}}</a></div>
                                        {{/foreach}}
                                    </div>
                            
                        </div>
                        <div class="card-action grey-text text-darken-3 zh-post-content">
                            {{!Content here}}
                            {{content}}
                        </div>
                            <div class="row"></div>
                            <div class="row"></div>
                        
                        {{> pagination}}
                        
                        
                        {{! disqus }}
                        <div class="card-action">
                            {{> disqus}}
                        </div>
                        
                    </article>
                </div>
            </div>
            
            
            

            
            
        </main>


{{/post}}