{{!< default}}

{{! Booklist tag}}

<main class="zh-div-list container">
    
    {{> spacing_oneRow}} 
    {{> spacing_oneRow}} 
    {{#foreach posts columns="3"}}
        {{#if @rowStart}}<div class="row animated fadeInUp">{{/if}}        
        
        <div class="col s12 m8 offset-m2 l4">
       
            <div class="card horizontal hoverable">
                <!-- Image on the left-->
                <div class="card-image">
                    {{> spacing_oneRow}}
                    <div class="container">
                         <a href="{{url}}">
                            {{#if image}}
                                <img src="{{image}}">
                            {{else}}
                                <img src="{{asset "img/SM_Light_small.jpg"}}">
                            {{/if}}  
                        </a>
                        {{> spacing_oneRow}}
                    </div>
                </div>
                <!--Title and description-->
                <div class="card-stacked">
                    <div class="card-header container">
                        {{> spacing_oneRow}}
                        {{!Post Title}}
                        <h6 class="center-align">
                            <a class="light-blue-text text-darken-3" href="{{url}}">{{title}}</a>
                        </h6>
                        {{> spacing_oneRow}}
                    </div>
                    <div class="divider container"></div>
                    <div class="card-content">
                        <a href="{{url}}"><p class="grey-text text-darken-1">{{excerpt characters="40"}}&hellip;</p></a>
                    </div>
                </div>
            </div>
        </div>
        {{#if @rowEnd}}</div>{{/if}}
    {{/foreach}}
        
    {{! Blog pagination }}
    {{> spacing_oneRow}}
    {{> spacing_oneRow}}
    {{#if pagination}}{{pagination}}{{/if}}
    {{> spacing_oneRow}}
    {{> spacing_oneRow}}
    {{> spacing_oneRow}}
    
    <div class="card row animated fadeInUp hoverable" style="border-radius:90px;">
        <div class="container">
        <div class="col s12 card-content">
            <h5 class="left"><span style="font-size:45px;">过</span>去的一年我又少读了多少本书呢<br>如果没有好的开始 不妨试试一个坏的<br>等待最好的时机 不如行动在当下
            </h5>
            <a href="/about" class="right">
                <img src="{{> shared_favicon}}" alt="" class="circle hoverable">
                <h5 class="black-text zh-blogTitle">-  RnBlue</h5>
            </a>    
        </div>
        </div>
    </div>
</main>


