{{!< default}}

{{! Booklist tag}}

<main class="zh-div-list container">
    <div class="card row animated fadeInUp hoverable">
        <div class="col s12 card-content">
            <h5 class="left">过去的一年我又少读了多少本书呢<br>如果没有好的开始 不妨试试一个坏的<br>等待最好的时机 不如行动在当下
            </h5>
            <a href="/about" class="right">
                <img src="{{> shared_favicon}}" alt="" class="circle  hoverable">
                <h5 class="black-text zh-blogTitle">-  {{@blog.title}}</h5>
            </a>    
        </div>
            
    </div>
    
    {{> spacing_oneRow}} 
    {{> spacing_oneRow}} 
    {{#foreach posts columns="3"}}
        {{#if @rowStart}}<div class="row animated fadeInUp">{{/if}}        
        <div class="col s12 m l4">
            <div class="card horizontal hoverable">
                <div class="card-image">
                    {{#if image}}
                        <img src="{{image}}">
                    {{else}}
                        <img src="{{asset "img/SM_Light_small.jpg"}}">
                    {{/if}}            
                </div>
                <div class="card-stacked">
                    <div class="card-header">

                        {{!Post Title}}
                        <h6 class="center-align">
                            <a class="amber-text text-darken-2" href="{{url}}">{{title}}</a>
                        </h6>
                    </div>
                    <div class="divider"></div>
                    <div class="card-content">
                        <p class="grey-text text-darken-1">{{excerpt characters="40"}}&hellip;</p>
                    </div>
                </div>
            </div>
        </div>
        {{#if @rowEnd}}</div>{{/if}}
    {{/foreach}}
        
    {{! Blog pagination }}
    {{> spacing_oneRow}}
    {{> spacing_oneRow}}
    {{> spacing_oneRow}}
    {{#if pagination}}{{pagination}}{{/if}}
</main>


